/******************************TAG SELECTORS***********************/
h1 {
color: red;
font-size: 100px;

}
body {
  background-color: violet;
}

img:hover {
  
background-color: gold;
}
/******************************CLASS SELECTORS***********************/
.bacon{
  background-color: red;
}
.broc{
  background-color: green;
}
.circular{
  border-radius: 100%;
}
/**************************ID SELECTORS*******************************/
#heading {
color: blue;
}
